
@charset "UTF-8";


@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap&subset=japanese');

/* すべてのページに適用される */
html {
    font-family: 'Kosugi Maru', serif;

}

body {
        background-color: #afa596;
}

h2 {
    color: #270;
    font-size: 22px;
}
