
/* Font config */
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap&subset=japanese');

/* すべてのページに適用される */
html {
    font-family: 'FontAwesome', sans-serif;;
}

html * {
    box-sizing: border-box;
}

body {
    background-color: #e9c154;
}

/* Form Layout */
.form-wrapper {
    background: #fafafa;
    margin: 3em auto;
    padding: 0 1em;
    max-width: 370px;
    box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
}

h1 {
    text-align: center;
    padding: 1em 0;
}

form {
    padding: 0 1.5em;
}

.form-item {
    margin-bottom: 0.75em;
    width: 100%;
}

.form-item input {
    background: #fafafa;
    border: none;
    border-bottom: 2px solid #e9e9e9;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 50px;
    transition: border-color 0.3s;
    width: 100%;
}

.form-item input:focus{
    border-bottom: 2px solid #c0c0c0;
    outline: none;
}

.form-button {
    margin: 2em 0 0;
    width: 100%;
}

.form-button .button {
    background: #f16272;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 100%;
}

.button:hover {
    background: #ee3e52;
}

.form-footer {
    font-size: 1em;
    padding: 2em 0;
    text-align: center;
}

.form-footer a {
    color: #8c8c8c;
    text-decoration: none;
    transition: border-color 0.3s;
}

.form-footer a:hover {
    border-bottom: 1px dotted #8c8c8c;
}